html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous")
		script(src='/scripts/userlist.js')

		link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
		link(rel='stylesheet', href='/styles/userlist.css')

		title Userlist
	body

	include navbar.pug

	if founduser

		h2(id='querystring' data-fname=founduser.firstname data-lname=founduser.lastname style={display:'none'})

	div#main

		div#usercollection.ucoll

			each item in userNames

				ul(class='userlist' data-firstname=item.firstname data-lastname=item.lastname)

					li.users #{item.firstname} #{item.lastname}
					li.users #{item.email}

script.

	$(document).ready(function(){

		var matches = document.querySelectorAll("ul.partialMatch");
		console.log(matches)

		if(matches.length!==0){
		console.log('okay great')
				$(matches).wrapAll("<div id='matches'>")

				var foundMatches = $('#matches')

				$('#main').prepend(foundMatches)

		}

		var usersUl = document.querySelectorAll('ul.userlist')

		function queryMatches(htmlc, y){
			var scrollto = Array.from(htmlc).filter(element => element.dataset[y]).map(element => element.offsetTop)
			if(scrollto!==undefined){
			return parseInt(scrollto[0]-20)
			}
		}

		function filterMatch(fullname,lastname,firstname){

			var matchAt = Array.of(queryMatches(usersUl, fullname),queryMatches(usersUl, lastname),queryMatches(usersUl, firstname))
			var winScroll = matchAt.find((element) => !isNaN(element))

			return winScroll

		}

		window.scrollTo(0,filterMatch('fullmatch', 'lnamematch', 'fnamematch'))	

	})

style.

	ul.nav {
		background: rgba(235,235,235,1);
		font-family: font-family: 'Open Sans', sans-serif;
		transition: 0.8s ease;
	}

	.nav li:hover {
		background: linear-gradient(rgba(255,255,255,1),rgba(235,235,235,1));
	}

	.nav li:hover a {
		color: brown;
	}
