html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous")
		script(src='/scripts/userlist.js')

		link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
		link(rel='stylesheet', href='/styles/userlist.css')

		title Userlist
	body

	include navbar.pug

	if founduser

		h2(id='querystring' data-fname=founduser.firstname data-lname=founduser.lastname style={display:'none'})

	div#main

		div#usercollection.ucoll

			each item in userNames

				ul(class='userlist' data-firstname=item.firstname data-lastname=item.lastname)

					li.users #{item.firstname} #{item.lastname}
					li.users #{item.email}

script.

	$(document).ready(function(){

		var matches = document.querySelectorAll("ul.partialMatch");
		console.log(matches)

		if(matches.length!==0){
		console.log('okay great')
				$(matches).wrapAll("<div id='matches'>")

				var foundMatches = $('#matches')

				$('#main').prepend(foundMatches)
		}

		$('ul.userlist').each(function(index,element){
			
			if(element.dataset.fullmatch=='true'){
				var ulloc = parseInt(element.offsetTop)-20
				window.scrollTo(0,ulloc)
			}

			if(element.dataset.fnamematch=='true'){
				
				var ulloc = parseInt(element.offsetTop)-20
				window.scrollTo(0,ulloc)
			}
			if(element.dataset.lnamematch=='true'){
				
				var ulloc = parseInt(element.offsetTop)-20
				window.scrollTo(0,ulloc)
			}
			
		})

	})

style.

	ul.nav {
		background: whitesmoke;
	}

	//- .nav li:hover {
	//- 	background: radial-gradient(rgba(190,190,190,0.4),rgba(110,110,110,0.6));
	//- }

	//- .nav li:hover a {
	//- 	color: white;
	//- }
